html,body{
   height: 100%;
}
#header{
    display: flex;
    height: 100px;
    padding: 20px 50px 10px 45px;
    align-items: flex-end;
}
.item{
    margin-right: auto;
    align-self: baseline;
    text-decoration: none;
    color: white;
}
#logo{
    margin-right: auto;
    align-self: center;
}
/* The hero image */
.hero-image{
    /* Use "linear-gradient" to add a darken background 
    effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0,0,0.5), rgba(0,0,0,0.5)),url("./images/hero-image.jpg");
    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Place text in the middle of the image */
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text p{
    font-size: 20px;
}
.register-btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#main{
    display: flex;
    align-items: center;
    height: -300px;
    /* display: -webkit-flex; */
    /* -webkit-align-items: center; */
   
}
#main .core-products{
    border: 1px solid black;
    margin: 20px;
    -webkit-flex: 1;
    flex: 1;
    padding: 20px;
    align-items: center;
    
}
